
<!-- include header -->
    <%- include('include/_header') %>
<!-- /include header -->
<section class="banner" id="banner">
    <div class="content">
        <h2>Coming Soon</h2>
        <p></p>
        <a href="/plantatree" class="btn">Plant A Tree</a>
    </div>
</section>

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->