<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->


<div class="graphBx">
    <div class="userBx">
        <div class="edit-button">
            <a href="/updateuser" class="btn border-shadow update">
                <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
            </a>
        </div>
        <div class="user-div-details"><%= users.name %></div>
        <div class="add-button"></div>
            <a class="btn border-shadow delete" data-id=<%= users._id %> >
                <span class="text-gradient"><i class="fas fa-plus"></i></span>
            </a>
        </div>
    </div>
</div>


<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->