<!-- form handling -->
<form action="/api/users" method="POST" id="add_user">    
    <div class="titleText"><span>P</span>lant A Tree</div>
    <div class="form-group">
        <input type="hidden" name="id" value="">
        <input type="text" class="form_input" name="name" value="" placeholder="" >
        <label for="name" class="form_label">Name</label>
    </div>
    <div class="form-group">
        <input type="text" class="form_input" name="email" value="" placeholder="">
        <label for="Email" class="form_label">Email</label>
    </div>
    <div class="form-group">
        <input type="text" name="contact" class="form_input" value="" placeholder="">
        <label for="contact" class="form_label">Contact Number</label>
    </div>
    <div class="form-group">
        <input type="textarea" name="address" class="form_input" value="" placeholder="">
        <label for="Address" class="form_label">Address</label>
    </div>
    <div class="radio-buttons">
        <label class="custom-radio">
            <input type="radio" id="radio-2" name="gender" value="Male" checked />
            <span class="radio-btn"><i class="las la-check"></i>
            <div class="hobbies-icon">
                <i class="las la-mars"></i>
                <h3>Male</h3>
            </div>
            </span>
        </label>
        <label class="custom-radio">
            <input type="radio" id="radio-3" name="gender" value="Female" />
            <span class="radio-btn"><i class="las la-check"></i>
            <div class="hobbies-icon">
                <i class="las la-venus"></i>
                <h3>Female</h3>
            </div>
            </span>
        </label>
    </div>
    <div class="form-group">
        <button type="submit" class="form__button">Save</button>
    </div>    
</form>