@import url('https://fonts.googleapis.com/css2?family=Barlow&family=PT+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}
body{
    height: 1600px;
}
p{
    font-weight: 300;
    color: #111;
}
.banner{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('/img/family.jpg');
    background-size: cover;
}
.banner .content{
    max-width: 900px;
    text-align: center;
}
.banner .content h2{
    font-size: 5rem;
    color: #111;
}
.banner .content p{
    font-size: 3rem;
    color: #111 ;
}
.btn{
    font-size: 1rem;
    color: #111;
    background: #ff0157;
    display: inline-block;
    padding: 10px 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
}
.btn:hover{
    letter-spacing: 6px;
}

/* styling navigation */

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}
header.sticky{
    background: #fff;
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.05);
}
header .logo{
    color: #111;
    font-weight: 700;
    font-size: 2rem;
    text-decoration: none;
}
header.sticky .logo{
    color: #111;
}
header .logo span{
    color: #ff0157;
}
header .navigation{
    position: relative;
    display: flex;
}
header .navigation li {
    list-style: none;
    margin-left: 30px;
}
header .navigation li a {
    text-decoration: none;
    color: #111;
    font-weight: 300;
}
header.sticky .navigation li a{
    color: #111;
}
header .navigation li a:hover{
    color: #ff0157;
}

/* styling ABOUT US */
section{
    padding: 100px;
}

.row{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.row .col50{
    position: relative;
    width: 48%;
}
.titleText{
    color: #111;
    font-size: 2rem;
    font-weight: 300; 
}
.titleText span{
    color: #ff0157;
    font-weight: 500;
    font-size: 2.5rem;
}
.row .col50 .imgBx{
    position: relative;
    width: 100%;
    /* min-height: 300px; */
    height: 100%;
}
.row .col50 .imgBx img{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* styling product section */

.title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.product .content{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin-top: 40px;
}
.product .content .box{
    width: 340px;
    margin: 20px;
    border: 15px solid #fff;
    box-shadow: 0 5px 35px rgba(0,0,0,0.08);
}
.product .content .box .imgBx{
    position: relative;
    width: 100%;
    height: 300px;
}
.product .content .box .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.product .content .box .text{
    padding: 15px 0 5px;
}
.product .content .box .text h3{
    font-weight: 400;
}

.copyrightText{
    padding: 8px 40px;
    border-top: 1px solid rgba(0,0,0,0.1);
    text-align: center;
}
.copyrightText p{
    color: #333;
}
.copyrightText a{
    color: #ff0157;
    font-weight: 500;
    text-decoration: none;
}
header .navigation.open{
    height: 100vh;
}

/* styling create tree */
.createtree{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.createBox{
    text-align: center;
    width: 340px;
    margin: 20px;
    border: 15px solid #fff;
    box-shadow: 0 5px 35px rgba(0,0,0,0.08);
}
.createBox .titleText{
    margin-bottom: 20px;
}
.form-group{
    position: relative;
    height: 40px;
    margin-bottom: 1.5rem;
}
.form_input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 1rem;
    border: 1px solid #DADCE0;
    border-radius: .5rem;
    outline: none;
    padding: 1rem;
    background: none;
    z-index: 1;
}

.form_label{
    position: absolute;
    left: 1rem;
    top: 1rem;
    padding: 0rem;
    background-color: #fff;
    color: #ff0157;
    font-size: 1rem;
    transition: .3s;
}

.form_input:focus + .form_label{
    top: -.5rem;
    left: .8rem;
    color: #ff0157;
    font-size: .75rem;
    font-weight: 500;
    z-index: 10;
}

.form_input:not(:placeholder-shown).form_input:not(:focus)+.form_label{
    top: -.5rem;    
    left: .8rem;
    font-size: 1rem;
    font-weight: 500;
    z-index: 10;
}

.form_input:focus{
    border: 1.5px solid #ff0157;
}

.form__button{
    display: block;
    margin-left: auto;
    padding: .75rem 2rem;
    outline: none;
    border: none;
    background-color: #ff0157;
    color: #fff;
    font-size: var(--normal-font-size);
    border-radius: .5rem;
    cursor: pointer;
    transition: .3s;
}
.form__button:hover{
box-shadow: 0 10px 36px rgba(0,0,0,.15);
}

.radio-buttons {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.custom-radio input {
    display: none;
}

.radio-btn {
    margin: 10px;
    width: 80px;
    height: 50px;
    border: 1px solid transparent;
    display: inline-block;
    border-radius: 30px;
    position: relative;
    text-align: center;
    box-shadow: 0 0 10px #c3c3c367;
    cursor: pointer;
}

.radio-btn > i {
    color: #ffffff;
    background-color: #ff0157;
    font-size: 10px;
    position: absolute;
    top: -14px;
    left: 50%;
    transform: translateX(-50%) scale(4);
    border-radius: 50px;
    padding: 3px;
    transition: 0.2s;
    pointer-events: none;
    opacity: 0;
}

.radio-btn .hobbies-icon {
    width: 60px;
    height: 40px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.radio-btn .hobbies-icon i {
    color: #ff0157;
    line-height: 30px;
    font-size: 24px;
}

.radio-btn .hobbies-icon h3 {
    color: #ff0157;
    font-family: "Raleway", sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
}

.custom-radio input:checked + .radio-btn {
    border: 1px solid #ff0157;
}

.custom-radio input:checked + .radio-btn > i {
    opacity: 1;
    transform: translateX(-50%) scale(1);
}

/* styling user graph box */
.graphBx{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.userBx{
    text-align: center;
    width: 340px;
    margin: 20px;
    border: 15px solid #fff;
    box-shadow: 0 5px 35px rgba(0,0,0,0.08);
}

.user-div-details{
    font-size: 16px;
    color: #333;
    text-transform: uppercase;
}

@media (max-width: 991px){
    header,
    header.sticky{
        padding: 10px 20px;
        flex-direction: row;
    }
    header .navigation{
        width: 100%;
        height: 0px;
        transition: 250ms height ease-in-out;
        position: fixed;
        top: 60px;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #fff;
        overflow: hidden;

    }
    header .menuToggle{
        transition: 0.2s;
        right: 0;
    }
    /* header .navigation.active{
        width: 100%;
        height: 500px;
        transition: 250ms height ease-in-out
        position: fixed;
        top: 60px;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #fff;
    } */
    header .navigation li{
        margin-left: 0;
        margin-top: 20px;
    }
    header .navigation li a{
        color: #111;
        font-size: 1.6rem;
    }
    .menuToggle {
        position: relative;
        width: 40px;
        height: 40px;
        background: url("/img/menu.png");
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }
    .menuToggle.active{
        background: url("/img/cross.png");
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }
    /* header.sticky .menuToggle{
        filter: invert(1);
    } */
    section{
        padding: 20px;
    }
    .banner .content h2{
        font-size: 3rem;
        color: #fff;
    }
    .row{
        flex-direction: column;
    }
    .row .col50{
        position: relative;
        width: 100%;
    }
    .row .col50 .imgBx{
        height: 300px;
        margin-top: 20px;
    }
    .product .content{
        margin-top: 20px;
    }
    .product .content .box{
        margin: 10px;
    }
    .product .content .box .imgBx{
        height: 260px;
    }
    .title{
        text-align: center;
    }

}

